*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins, sans-serif;
background:#0b0b0f;
color:white;
overflow-x:hidden;
}

/* NAVBAR */

.navbar{

position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:rgba(20,20,20,0.6);
backdrop-filter:blur(10px);

z-index:1000;

}

.logo-text{

font-weight:600;
font-size:20px;

}

nav ul{

display:flex;
gap:30px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

nav a:hover{

color:#8a7cff;

}

/* HERO */

.hero{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding-top:80px;

}

.hero h1{

font-size:64px;
margin-bottom:20px;

}

.hero p{

color:#aaa;
margin-bottom:40px;

}

/* CTA */

.cta-button{

padding:16px 36px;
border-radius:40px;

background:linear-gradient(45deg,#0022ff,#000154);

color:white;
text-decoration:none;

font-weight:500;

transition:0.3s;

}

.cta-button:hover{

transform:scale(1.05);

}

/* SECTIONS */

.section{

padding:120px 80px;
text-align:center;

}

.section h2{

font-size:40px;
margin-bottom:40px;

}

/* SERVICES */

.services-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;

}

.card{

background:#141414;
padding:30px;
border-radius:10px;

}

/* CONTACT */

form{

display:flex;
flex-direction:column;
gap:20px;
max-width:400px;
margin:auto;

}

input,textarea{

padding:12px;
border:none;
border-radius:6px;

}

button{

padding:14px;
background:#7b6cff;
border:none;
border-radius:30px;
color:white;
cursor:pointer;

}

/* FOOTER */

footer{

text-align:center;
padding:40px;

color:#777;

}

/* FLOATING LOGO */

.floating-logo{

position:fixed;

top:20%;
left:10%;

width:300px;

opacity:0.07;

animation:floatLogo 12s infinite ease-in-out;

pointer-events:none;

}

@keyframes floatLogo{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-40px);
}

100%{
transform:translateY(0px);
}

}
